<div class="foundryDialog global">
	<div class="dialog-wrap">
		<div class="in">
			<div class="dialog-loader"><div class="loader-img"></div></div>
			<div class="dialog-head">
				<span class="dialog-title"></span><a class="dialog-closeButton">Close</a>
			</div>
			<div class="dialog-body dialog-content"></div>
			<div class="dialog-footer">
				<div class="dialog-buttons"></div>
			</div>
		</div>
	</div>
</div>
